<!doctype html>
<html dir="ltr" lang="pt">
  <head>
    <meta charset="utf-8">
    <title>Cadastrar Empresa</title>
  </head>
  <body>
    <form action="#">
        <label for="email">Email</label><br>
        <input type="text" name="email" id="email" value=""><br>
        <label for="pass">Pasword</label><br>
        <input type="text" name="pass" id="pass" value=""><br>
        <label for="cnpj">CNPJ</label><br>
        <input type="text" name="cnpj" id="cnpj" value=""><br>
        <label for="name">Nome</label><br>
        <input type="text" name="name" id="name" value=""><br><br>
        <button type="submit">Salvar</button>
    </form>
  </body>
</html>
